# Public API
NEXT_PUBLIC_API_URL=

# Auth (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Stripe public key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Realtime (Ably)
NEXT_PUBLIC_ABLY_KEY=

# Supabase public client
SUPABASE_URL=
SUPABASE_ANON_KEY=
