# Supabase  
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Clerk
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=                 
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Bunny.net
BUNNY_API_KEY=
BUNNY_READ_ONLY_API_KEY=
BUNNY_LIBRARY_ID=

# Amazon IVS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
IVS_CHANNEL_ARN=
IVS_STREAM_KEY=
IVS_PLAYBACK_URL=

# Ably
ABLY_API_KEY=
NEXT_PUBLIC_ABLY_KEY=

# Upstash
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
UPSTASH_REDIS_READONLY_TOKEN=
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# Cloudflare R2
CLOUDFLARE_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=

# Resend
RESEND_API_KEY=